body {  margin:0 auto }

/*.container {
  margin: 70px; 
  width: 900px;
}*/


a { text-decoration: none; color: blue; }
/*a:link {
    color: blue;
}*/
/* A link that has been visited */
/*
a:visited {
    color: gray;
}*/
/* A link that is hovered on */
a:hover {
    color: black;
     text-decoration: underline;
}
/* A link that is selected */
a:active {
    color: blue;
}

p, ul { font-size: 1.2em; color: #333; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

nav ul, footer ul { font-size: 1.5em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }

/* Blog */
ul.posts { margin: 30px auto 10px; font-size: 1.2em; max-width:$(feed.width);
width:100%}
ul.posts li { list-style: none; }

/* CV 
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }
*/

.highlight {
    font-family:monospace;
    font-size:1.2em;
    color:#dfdfbf;
    background:#2c2c2c;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 100%;
    max-height: 500px;
   ... /* etc. */
}

.highlight .comment { color:#7a987a;}
.highlight .keyword { color: #efc986; }
.highlight .cppMacro { color: #bd63c5}
.highlight .number { color: #6e96be;}
.highlight .operator { color: #dfdfbf;}
.highlight .cppType { color:#8acccf; }
... /* etc. */

/

table{
    border-collapse: collapse;
    border-spacing: 0;
    border:2px solid #ff0000;
}

th{
    border:2px solid #000000;
}

td{
    border:1px solid #000000;
}

@media screen and (max-width:968px){
body.item-view .post-body a[imageanchor="1"][style*="float: left;"],body.item-view .post-body a[imageanchor="1"][style*="float: right;"]{
float:none!important;
clear:none!important
}
body.item-view .post-body a[imageanchor="1"] img{
display:block;
height:auto;
margin:0 auto
}
body.item-view .post-body>.separator:first-child>a[imageanchor="1"]:first-child{
margin-top:20px
}
.post-body a[imageanchor]{
display:block
}
body.item-view .post-body a[imageanchor="1"]{
margin-left:0!important;
margin-right:0!important
}
body.item-view .post-body a[imageanchor="1"]+a[imageanchor="1"]{
margin-top:16px
}
}
.item-control{
display:none
}

@media screen and (max-width:$(feed.width + sidebar.width + 20px - 1px)){
.sidebar-container{
bottom:0;
position:fixed;
top:0;
left:auto;
right:0
}
  
.main_content_container{
-webkit-box-flex:0;
-webkit-flex:0 0 auto;
-ms-flex:0 0 auto;
flex:0 0 auto;
margin:0 auto;
max-width:$(feed.width + sidebar.width);
width:100%
}
