---
layout: default
title: Downloads
---

<div class="container">
	<h1>{{ page.title }}</h1>

	<ul class="posts">
		{% include ads.html %}<br/>
   		<li><a href="https://www.file-up.org/p2p4j7stuhpq">[PDF]Notes: Hacking The Art of Exploitation</a></li>
		<br/>
		<li><a href="http://gestyy.com/w42f5K">[PDF]Hacking The Art of Exploitation</a></li>
		 {% include ads.html %}<br/>
		 <input type="hidden" name="IL_IN_ARTICLE"> <br/>
		<li><a href="https://www.file-up.org/x5tyt1fz64em">[PDF]Notes: Dynamic Programming from The Algorithm Design Manual Steven S. Skiena</a></li>
		<br/>
		<li><a href="https://www.file-up.org/e0ogf1xbzjv0">[PDF]Notes: Dynamic Programming from Introduction to Algorithms CLSR</a></li>
{% include ads.html %}<br/>
		<br/>
		{% include linkedlist_pdf.html %}<br/>
		

	</ul>
  
</div>
