<!DOCTYPE html>
<html>
<body>

<p>Laptops for Programming on Amazon</p>

</body>
</html>


<!-- Acer Aspire E15 -->
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=00000100-21&marketplace=amazon&region=IN&placement=B07MK7G18V&asins=B07MK7G18V&linkId=2f24610561a9cca9474926afe8b082a1&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
    
 <!-- Asus Vivobook -->
 <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=00000100-21&marketplace=amazon&region=IN&placement=B07N8CQN2F&asins=B07N8CQN2F&linkId=44dc4b9fd0d774d3a06b58ead568f210&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
    
 <!-- Lenovo Thinkpad-->
 <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=00000100-21&marketplace=amazon&region=IN&placement=B07TCV9VB8&asins=B07TCV9VB8&linkId=4cdeb34d12348cbee0f28276d18da86c&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
    
 <!-- Dell G5 series-->
 <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=00000100-21&marketplace=amazon&region=IN&placement=B07X4R6FVN&asins=B07X4R6FVN&linkId=df13ddedfebef2276ce5b00ce0a1deb9&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>

<!-- HP 15 -->
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=00000100-21&marketplace=amazon&region=IN&placement=B07HHS5TZT&asins=B07HHS5TZT&linkId=fb02d92d7324d8428bd9393deb61dbca&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>

<!-- Asus k50 -->
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=00000100-21&marketplace=amazon&region=IN&placement=B07RSS7DW6&asins=B07RSS7DW6&linkId=ccfa5780e118c24a27147b42da2e7c49&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
