<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="google-site-verification" content="qgtN4r3CsmAofysoONuxVVqA4ZYhlG8E_anWy4X5UfQ" />

<link rel="canonical" href="{{ site.url }}/{{ page.url | replace:'index.html',''}}">

<link rel="alternate" href="https://programmercave0.github.io/" hreflang="en-US"/> 

<a href="https://www.codeproject.com" rel="tag" style="display:none">CodeProject</a>

<!-- Custom Fonts-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

{% seo %}

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-6819793054373827",
          enable_page_level_ads: true
     });
</script>
			
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102581341-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-102581341-3');
</script>

<meta property="og:site_name" content="{{ site.title }}" />

<meta property="og:title" content="{{ post.title }}" />
{% if post.title %}
  <meta content="article" property="og:type">
{% else %}
  <meta content="website" property="og:type">
{% endif %}

{% if page.header-img %}
    <meta property="og:image" content="{{ site.url }}/{{ page.header-img }}" />
{% else %}
    <meta property="og:image" content="{{ site.url }}/assets/programmerCavelogo.jpg" />
{% endif %}

{% if page.subtitle %}
  <meta content="{{ page.subtitle }}" property="og:description">
{% endif %}

{% if page.url %}
  <meta content="{{ site.url }}/{{ page.url }}" property="og:url">
{% endif %}
<!-- The Author meta propagates the byline in a number of social networks -->
<meta name="author" content="Programmercave" />

<meta property="fb:app_id" content="389979625280769" />

<meta property="og:locale" content="en_US" />


 <!-- Here my author and publisher tags are the same (yay self-publishing) -->
  <meta property="article:author" content="http://facebook.com/programmercave" />
  <!-- But if your site has its own page, this is where to put it. -->
  <meta property="article:publisher" content="https://www.facebook.com/programmercave" />

<!-- I use the page.tags property for OG tags. -->
  {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}" />
  {% endfor %}

<title>{{ post.title }}</title>
			<!-- link to main stylesheet -->
			<!--<link rel="stylesheet" type="text/css" href="/css/main.css"> -->


<!-- Twitter cards -->
<meta name="twitter:site"    content="@{{ site.twitter_username }}">
<meta name="twitter:creator" content="@{{ site.twitter_username }}">
<!-- <meta name="twitter:text:title" content="{{ post.title }}"/> -->
<meta name="twitter:title"   content="{{ page.title }}"> 
<meta name="twitter:domain" content="{{ site.url }}" >
<meta name="twitter:url" content="{{ site.url }}/{{ page.url | replace:'index.html',''}}" >
{% if page.subtitle %}
<meta name="twitter:description" content="{{ page.subtitle }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}

{% if page.header-img %}
<meta name="twitter:card"  content="summary">
<meta name="twitter:image" content="{{ site.url }}/{{ page.header-img }}">
{% else %}
<meta name="twitter:card"  content="summary">
<meta name="twitter:image" content="{{ site.url }}/assets/programmerCavelogo.jpg">
{% endif %}
<!-- end of Twitter cards -->


			

<link rel="apple-touch-icon" sizes="57x57" href="/favicon_package_v0.16/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favicon_package_v0.16/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favicon_package_v0.16/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favicon_package_v0.16/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favicon_package_v0.16/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicon_package_v0.16/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favicon_package_v0.16/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favicon_package_v0.16/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon_package_v0.16/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/favicon_package_v0.16/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon_package_v0.16/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon_package_v0.16/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon_package_v0.16/favicon-16x16.png">
<link rel="manifest" href="/favicon_package_v0.16/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/favicon_package_v0.16/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


			<!-- <link rel="stylesheet" type="text/css" media = "screen and (max-width: 480px") href="/css/mobile.css">
			<link rel="stylesheet" type="text/css"  media = "screen and (max-width: 780px") href="/css/tablet.css"> 
			
		<meta name="viewport" content="width=device-width; initial-scale=1.0">	 -->    
			<!-- ylix media push notification -->
		<!--<script src="https://cdn-server.top/p/wl.js?pub=487156&ga=g"></script>	-->
			<meta content="316375" name="wwwfileuporg">
 <script data-ad-client="ca-pub-6819793054373827" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>	 

<!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/clean-blog.css" | prepend: site.baseurl }}">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">

   <!--Tags design-->
 <link rel="stylesheet" href="{{ "/css/tags.css" | prepend: site.baseurl }}">


<!-- Footer Horizonatl social follow bar
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
  

