<ul class = "pdfs> 
             <h3>Linked List PDFs</h3>

<a href="https://www.file-up.org/swmz4k36d978" target=_blank>[PDF] Circular Doubly Linked List</a><br/>
<a href="https://www.file-up.org/6960p37e0vrr" target=_blank>[PDF] Doubly Linked List</a><br/>
<a href="https://www.file-up.org/it0eldmtml0l" target=_blank>[PDF] Linked List with Loop</a><br/>
<a href="https://www.file-up.org/23wsoznwhf7g" target=_blank>[PDF] Merge Two Sorted Linked List</a><br/>
<a href="https://www.file-up.org/yohcmn1nd3kz" target=_blank>[PDF] Move Even Before Odd in Linked List</a><br/>
<a href="https://www.file-up.org/8s355vxo24dv" target=_blank>[PDF] Reverse Linked List</a><br/>
<a href="https://www.file-up.org/2k1y52ykbajk" target=_blank>[PDF] Singly Linked List</a><br/>
<a href="https://www.file-up.org/qv2awmamvncm" target=_blank>[PDF] Split Singly Circular Linked List</a><br/>

</ul>
