<ul class = "pdfs"> 
             <h3>Linked List PDFs</h3>

<li><a href="https://www.file-up.org/swmz4k36d978" target=_blank>[PDF] Circular Doubly Linked List</a><br/></li>
<li><a href="https://www.file-up.org/6960p37e0vrr" target=_blank>[PDF] Doubly Linked List</a><br/></li>
<li><a href="https://www.file-up.org/it0eldmtml0l" target=_blank>[PDF] Linked List with Loop</a><br/></li>
<li><a href="https://www.file-up.org/23wsoznwhf7g" target=_blank>[PDF] Merge Two Sorted Linked List</a><br/></li>
<li><a href="https://www.file-up.org/yohcmn1nd3kz" target=_blank>[PDF] Move Even Before Odd in Linked List</a><br/></li>
<li><a href="https://www.file-up.org/8s355vxo24dv" target=_blank>[PDF] Reverse Linked List</a><br/></li>
<li><a href="https://www.file-up.org/2k1y52ykbajk" target=_blank>[PDF] Singly Linked List</a><br/></li>
<li><a href="https://www.file-up.org/qv2awmamvncm" target=_blank>[PDF] Split Singly Circular Linked List</a><br/></li>

</ul>
                                              
<ul class = "pdfs">
  <h3>Sorting Algorithms PDFs</h3>
  <li><a href="https://www.file-up.org/5etqv0d4uih4" target=_blank>programmercave_heapsort.pdf - 108 KB</a></li>
<li><a href="https://www.file-up.org/31lsofzj6c9k" target=_blank>programmercave_insertionsort.pdf - 78 KB</a></li>
<li><a href="https://www.file-up.org/s97zhwrq3mg7" target=_blank>programmercave_mergesort.pdf - 83 KB</a></li>
<li><a href="https://www.file-up.org/hj7tdj61r4sj" target=_blank>programmercave_quicksort.pdf - 82 KB</a></li>
<li><a href="https://www.file-up.org/34e0v6l3iomj" target=_blank>programmercave_selectionsort.pdf - 70 KB</a></li>
  
</ul>
                                              
                                              
