---
layout: default
title: How To
description: "To know how to do a stuff on a computer, visit here."
---

<div class="container">

	<h1>{{ page.title }}</h1>

	<ul class="posts">
		{% include ads.html %}
   		<li><a href="{{ site.url }}/blog/2019/10/10/How-to-Install-graphics.h-C-C++-library-on-Ubuntu">How to Install graphics.h C/C++ library on Ubuntu</a></li>
		<br/>
		<li><a href="{{ site.url }}/blog/2019/10/10/How-to-create-Password-list-using-CUPP-tool-on-ubuntu">How to create Password list using CUPP tool on Ubuntu</a></li>
		<br/>
		 {% include infolinks_ads.html %}
		 <input type="hidden" name="IL_IN_ARTICLE"> <br/>
		<li><a href="{{ site.url }}/blog/2019/11/24/How-to-Install-a-Software-on-Ubuntu-Package-Management">How to Install a Software on Ubuntu | Package Management</a></li>
		<br/>
		<li><a href="{{ site.url }}/blog/2019/11/27/How-to-scroll-Amazon-Affiliate-Marketing-cards-horizontally-on-a-website">How to scroll Amazon Affiliate Marketing cards horizontally on a website</a></li>
		<br/>
		
    </ul> 
</div>
