
<!DOCTYPE html>
	<html>
		
		<head>
			
			
			
			
			{% include header.html %}
			
			

		</head>
		<div class="sharethis-inline-follow-buttons"></div>
		<body>
			
			<!--comments-->
			<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=389979625280769&autoLogAppEvents=1"></script>
			
			
			 {% include nav.html %}
			
			<div class="container">
			
			{{ content }}
				{% include infolinks_ads.html %}
			 	
			</div><!-- /.container -->
			

			<footer>
				
				{% include footer.html %}
			
	    		</footer>
			<!-- infolinks ads -->
			<!--<script type="text/javascript"> var infolinks_pid = 3210490; var infolinks_wsid = 0; </script> <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>-->
			
			
     
  
		</body>
	</html>
