<!DOCTYPE html>
	<html>
		<head>
			{% seo %}
			{% include header.html %}
			
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<div class="sharethis-inline-follow-buttons"></div>
		</head>
		<body>
			
			<!--comments-->
			<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=389979625280769&autoLogAppEvents=1"></script>
			
			
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/downloads">Downloads</a></li>
	    		</ul>
			</nav>
			<div class="container">
			 
			{{ content }}
			 
			</div><!-- /.container -->
			

			<footer>
				
				{% include footer.html %}
				
	    		</footer>
			<!-- infolinks ads -->
			<script type="text/javascript"> var infolinks_pid = 3210490; var infolinks_wsid = 0; </script> <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
			<!-- revenuehits ads banner -->
			<script data-cfasync='false' type='text/javascript' src='//p368699.clksite.com/adServe/banners?tid=368699_723027_0'></script>
			<!-- revenuehits ads popunder -->
</script>
     
  
		</body>
	</html>
