---
layout: default
---
<h3>{{ page.title }}</h3>
<p class="meta">{{ page.date | date_to_string }} </p>
<div class="post">
  {% if page.tags %} | 
  {% for tag in page.tags %}
    <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
  {% endfor %}
  {% endif %}
  <article>
  
 
  {% include ylix_ads.html %}<br/>
  
  {{ content }}
     </article>
  <br/>
   <input type="hidden" name="IL_IN_ARTICLE"> 
  <br/>
  {% include infolinks_ads.html %}
  <br/>
  {% include share.html %}<br/>
  {% include amazon_affiliate_books.html %}<br/>
  {% include amazon_affiliate_laptops.html %}<br/>
  {% include comments.html %}<br/>
  
  <!--RevenueHits Referrel-->
</div>
