---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }} 
  <ul class="tags">
{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
  <li>{{t | downcase | replace:" ","-" }} has {{ posts | size }} posts</li>
{% endfor %}
</ul>
</p>

<div class="post">
  {% include revenuehits_ads.html %}
  {{ content }}
   <input type="hidden" name="IL_IN_ARTICLE"> 
  {% include infolinks_ads.html %}
  {% include share.html %}
  {% include comments.html %}
  
  <!--RevenueHits Referrel-->
</div>
