---
layout: default
title: Articles
description: "It has content related to technology. You can find best deals for laptops, GPUs etc. Get updated with Technology"
---

<div class="container">

	<h1>{{ page.title }}</h1>

	<ul class="posts">
		{% include ads.html %}
   		<li><a href="{{ site.url }}/blog/2019/10/23/Amazon-Great-Indian-Festival-Sale-2019-Top-10-Laptop-Deals">Amazon Great Indian Festival Sale 2019: Top 10 Laptop Deals</a></li>
		<br/>
		<li><a href="{{ site.url }}/blog/2019/12/12/Selected-Questions-from-Interviews-with-Bjarne-Stroustrup-Inventor-of-Cpp">Selected Questions from Interviews with Bjarne Stroustrup Part 1| Creator of C++ </a></li>
		<br/>
		<li><a href="{{ site.url }}/blog/2019/12/12/Selected-Questions-from-Interviews-with-Bjarne-Stroustrup-Part-2-Creator-of-C++">Selected Questions from Interviews with Bjarne Stroustrup Part 2| Creator of C++</a></li>
		<br/>
		
		 {% include infolinks_ads.html %}
		 <input type="hidden" name="IL_IN_ARTICLE"> <br/>
		
    </ul> 
</div>
